/*

!.gitignore
!.bashrc
!.bash_profile
!.bash/
!.vimrc
!.gitconfig
!.tmux.conf
!.scripts/
!.xinitrc
!.xbindkeysrc

!.config/
.config/*

!.config/zathura/

!.config/nvim/

!.weechat/
.weechat/*
!.weechat/weechat.conf
!.weechat/plugins.conf

!.vim/
.vim/*
!.vim/plugin/

!.local/
.local/*

!.local/share/
.local/share/*

!.local/bin/

!.local/share/global-configs/

!.screenlayout/

