/*

!.gitignore
!.bashrc
!.bash/
!.vimrc
!.gitconfig
!.tmux.conf
!.scripts/

!.config/
.config/*

!.config/xfce4/
.config/xfce4/desktop/*
.config/xfce4/xfce4-screenshooter

!.config/nvim/

!.weechat/
.weechat/*
!.weechat/weechat.conf
!.weechat/plugins.conf

!.vim/
.vim/*
!.vim/plugin/

