/*

!.gitignore
!.bashrc
!.zshrc
!.profile
!.bash/
!.vimrc
!.vimfunc
!.gitconfig
!.tmux.conf
!.xinitrc
!.xbindkeysrc
!.inputrc

!.config/
.config/*

!.config/mimeapps.list

!.config/zathura/

!.config/nvim/

!.weechat/
.weechat/*
!.weechat/weechat.conf
!.weechat/plugins.conf

!.vim/
.vim/*
!.vim/plugin/

!.local/
.local/*

!.local/scripts/

!.local/share/
.local/share/*

!.local/share/global-configs/

!.local/share/applications/
.local/share/applications/*

!.local/share/applications/img.desktop
!.local/share/applications/pdf.desktop
!.local/share/applications/text.desktop

!.screenlayout/

