[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/miha/Desktop/Pictures]
row=4
col=0

[26c99abe-cf0e-43f0-87c6-264f9b3f4a14]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/miha]
row=3
col=0

